.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonStyle {
    padding: 10px;
    background-color: #87CEEB;
    font-size: clamp(13px, 1vw, 30px);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    transition: .3s;
}

.buttonStyle:hover {
    transform: scale(1.05);
}