.son {
    text-align: end;
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mom {
    text-align: start;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
}