.langButton {
    position: fixed;
    top: 30px;
    right: 30px;
}

.container {
    min-width: 330px;
    max-width: 330px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #00A1C9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #245480;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media (min-width: 800px) {
    .container {
        min-width: 500px;
        max-width: 500px;
    }
}