.app {
    min-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #00A1C9;
    border-radius: 10px;
}

.app h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}